{
    "state": "failure",
    "target_url": "https://console.aws.amazon.com/elasticbeanstalk/home?region=us-east-1#/environment/dashboard?applicationName=<APP_NAME>&environmentId=<AWSID>",
    "description": "Deployment to AWS failed.",
    "context": "cd/awseb"
}
